    body {
  background-image: url(./Imágenes/FONDOCONTACTO.jpg);
  background-size:cover;
    }
    
    /*Formulario*/

    .main {
    padding: 50px 0;
    }

    .container {
    max-width: 800px;
    margin-top: 4rem;
    color: aliceblue;
    font-size: 1.75rem;
    }
    
    .Contacto {
    margin-bottom: 20px;
    font-size: 5rem;
    }
    
    .form {
    margin-top: 20px;
    }

    .AbajoContacto{
      font-weight: bold; 
    }
    
    .form-group {
    margin-bottom: 20px;
    resize: none;
    font-weight: bold;  
    }
    
    .form-control {
        resize: none;
      }

    .label {
    font-weight: bold;
    }
    
    .textarea {
        resize: none;
      }

    /*Button*/

    .button {
        font-family: inherit;
        font-size: 18px;
        background-color: #17a4ba;
        color: white;
        padding: 0.8em 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 25px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
      }
      
      .button:hover {
        transform: translateY(-3px);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
      }
      
      .button:active {
        transform: scale(0.95);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      }
      
      .button span {
        display: block;
        margin-left: 0.4em;
        transition: all 0.3s;
      }
      
      .button svg {
        width: 18px;
        height: 18px;
        fill: white;
        transition: all 0.3s;
      }
      
      .button .svg-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        margin-right: 0.5em;
        transition: all 0.3s;
      }
      
      .button:hover .svg-wrapper {
        background-color: rgba(255, 255, 255, 0.5);
      }
      
      .button:hover svg {
        transform: rotate(45deg);
      }
      
      